body {
  background-color: #f0f0f0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  font-size: 3rem;
  color: white;
  padding-bottom: 0.1rem;
}

h1 {
  margin: 0;
}

.slogan {
  font-size: 3rem;
  margin-top: 0;
}

.App-link {
  color: #61dafb;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

main {
  display: flex;
  justify-content: center;
  /*margin-right: 0 auto;*/
}

.textField {
  margin-right: 5rem;
}

textarea {
  background-color: white;
  margin: 1rem 0.5rem;
  font-size: 1.25rem;
}

.charCounter {
  margin-top: 0.5rem 0;
  text-align: left;
}

.lowerCaseButton {
  margin-right: 1rem;
}

.themeButton {
  margin-left: 1rem;
}

/*@media screen and (max-width: 56.25rem) {
  h1 {
    font-size: 4rem;
  }
  .slogan {
    font-size: 2rem;
  }
}*/

@media screen and (max-width: 46.875rem) {
  h1 {
    font-size: 4rem;
  }
  .slogan {
    font-size: 2rem;
  }
  main {
    display: block;
  }
  .charCounter {
    text-align: center;
  }
}

@media screen and (max-width: 31.25rem) {
  h1 {
    font-size: 3rem;
  }
  .slogan {
    font-size: 2rem;
  }
  textarea {
    width: 12.5rem;
  }
  .themeButton {
    margin-top: 0.5rem;
  }
}
